@use '../../styles/variables.scss' as v;

.main-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: v.$main-nav-width;
  background-color: v.$color-background-light;
  top: 0;
  left: 0;
  bottom: 0;

  nav section {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 3rem;
    padding: .8rem 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: v.$color-text-dark;
    font-weight: 600;
  }
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.logo {
  width: 100%;
  padding: 1.5rem 1.3rem 1rem 1.5rem;
}

.main-menu__footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.guild {
  transition: transform .5s ease-in-out;
  transform: translateX(0);
}

.server-menu {
  transition: transform .5s ease-in-out;
  transform: translateX(0);
}

.hide {
  transform: translateX(-100%);
}