@use '../../styles/variables.scss' as v;

.text {
  font-size: 0;
}

.button {
  cursor: pointer;
  display: inline-block;
  transition: filter .2s ease-in-out;

  &:not(.mock):hover {
    filter: brightness(1.5);
  }
}

.button.disabled {
  cursor: not-allowed;
  color: v.$color-text-dark;
}