@use '../../styles/variables.scss' as v;

.header-container {
  transition: width 0.8s ease-in-out;
  position: fixed;
  width: 100%;
  width: -webkit-fill-available;
  background-color: v.$color-background;
  z-index: 100;
}

.header {
  display: flex;
  padding: 2rem 0 .5rem;
  justify-content: space-between;

  &.header--mobile {
    padding: 1rem 0 .5rem;
  }

  .navigation--mobile {
    gap: 2rem;
    display: flex;
    align-items: center;
  }
}

.title {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
}

.navigation {
  display: flex;
  gap: 4rem;
}

.hide {
  display: none;
}

.hamburger svg {
  width: 2rem;
  fill: v.$color-text-dark;
}