@use '../../styles/variables.scss' as v;

.card {
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem 1rem;
  align-items: center;
  border-radius: 1rem;
  justify-content: space-between;
  background-color: v.$color-background-light;

  .stats {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    .title {
      font-size: 1.3rem;
      color: v.$color-text-dark;
    }

    .value {
      font-size: 2.5rem;
      color: v.$color-text;
      display: inline-flex;
      flex-direction: column;

      .change {
        font-size: 1rem;
        color: v.$color-primary;
      }
    }
  }

  .total {
    padding: 3rem;
    border-radius: 50%;
    background-color: transparentize(v.$color-primary, .8);
    border: v.$color-primary .3rem solid;
    position: relative;

    .total__value {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }



    .progress-bar__container {
      opacity: .05;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
    .progress-bar {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      display: block;
      background: linear-gradient(270deg, black 50%, transparent 0), // (0, next procent is + 3.6 or 18 for 5%)
      linear-gradient(to left, white 50%, transparent 0),
      black;
      z-index: 6;
    }
  }
}

.card--yellow {
  .stats {
    .value {
      .change {
        color: v.$color-primary-yellow;
      }
    }
  }

  .total {
    background-color: transparentize(v.$color-primary-yellow, .8);
    border: v.$color-primary-yellow .3rem solid;
  }
}

.card--orange {
  .stats {
    .value {
      .change {
        color: v.$color-primary-orange;
      }
    }
  }

  .total {
    background-color: transparentize(v.$color-primary-orange, .8);
    border: v.$color-primary-orange .3rem solid;
  }
}