@use "./variables" as v;

.default-layout > .main-nav {
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
}

.default-layout.main-nav--open > .main-nav {
  transform: translateX(0);
}

.default-layout > section {
  margin-left: 0;
  transition: margin-left 0.8s ease-in-out
}

.default-layout.main-nav--open:not(.mobile) > section {
  margin-left: v.$main-nav-width;
}

.default-layout.main-nav--open > section {
  max-height: 100vh;
  overflow: hidden;
}

.mobile .container {
  padding: 0 .7rem;
}